<!doctype html>
<html lang="en">

<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>OptiQuery</title>
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://d3js.org/d3.v6.min.js"></script>
      <script src="https://unpkg.com/d3-graphviz/build/d3-graphviz.min.js"></script>

      <style>
            body {
                  background-color: #f8f9fa;
            }

            .card {
                  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
            }

            #graph-container {
                  width: 100%;
                  height: 100%;
                  overflow: auto;
                  margin: 0 auto;
            }

            #graph svg {
                  width: 100%;
                  height: 500px;
                  display: block;
            }

            #ra-tree-container,
            #current-tree-container {
                  width: 100%;
                  height: 700px;
                  overflow: hidden;
                  margin: 0 auto;
            }

            .btn-active {
                  background-color: #2861cb !important;
                  color: white !important;
            }

            .btn-inactive {
                  background-color: #54a7ef !important;
                  color: white !important;
            }

            .btn-info {
                  background-color: #31b1c5 !important;
                  color: white !important;
            }
      </style>
      <script>
            function loadSchema() {
                  fetch('/schema')
                        .then(response => response.json())
                        .then(data => {
                              const dot = data.dot;
                              d3.select("#schema-graph")
                                    .graphviz()
                                    .renderDot(dot);

                              const dbname = data.dbname;
                              const modalTitle = document.getElementById("schemaModalLabel");
                              if (dbname) {
                                    modalTitle.innerHTML = `Database Schema for ${dbname}`;
                              } else {
                                    modalTitle.innerHTML = "Database Schema";
                              }
                        })
                        .catch(error => {
                              console.error("Error fetching schema:", error);
                              alert("Failed to load schema.");
                        });
            }
      </script>
</head>

<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
            <div class="container-fluid">
                  <a class="navbar-brand" href="/">OptiQuery</a>
            </div>
      </nav>
      <div class="container">
            <div class="row mb-4">
                  <div class="col-md-9">
                        <div class="card">
                              <div class="card-body">
                                    <h5 class="card-title">Enter SQL Query</h5>
                                    <form method="post" action="/">
                                          <div class="mb-3">
                                                <textarea class="form-control" name="sql" rows="7"
                                                      placeholder="SELECT * FROM table;"
                                                      style="font-family: monospace; font-size: 14px;">{{ sql }}</textarea>
                                          </div>
                                          <button type="submit"
                                                class="btn {% if request.endpoint == 'index' %}btn-active{% else %}btn-inactive{% endif %}">Generate
                                                Tree</button>
                                    </form>
                              </div>
                        </div>
                  </div>

                  <div class="col-md-3 d-flex flex-column justify-content-start">
                        <div class="card">
                              <div class="card-body">
                                    <h5 class="card-title">Operations</h5>
                                    <div class="d-flex justify-content-around align-items-left flex-column">
                                          <form method="post" action="/pushdown" class="mb-3">
                                                <input type="hidden" name="sql" value="{{ sql }}">
                                                <button type="submit" id="pushdown-button"
                                                      class="btn w-100 {% if request.endpoint == 'pushdown' %}btn-active{% else %}btn-inactive{% endif %}">Apply
                                                      Predicate Pushdown</button>
                                          </form>

                                          <form method="post" action="/joinopt" class="mb-3">
                                                <input type="hidden" name="sql" value="{{ sql }}">
                                                <button type="submit" id="joinopt-button"
                                                      class="btn w-100 {% if request.endpoint == 'joinopt' %}btn-active{% else %}btn-inactive{% endif %}">Apply
                                                      Join Optimization</button>
                                          </form>

                                          <form method="post" action="/cost" class="mb-3">
                                                <input type="hidden" name="sql" value="{{ sql }}">
                                                <button type="submit" id="cost-button"
                                                      class="btn w-100 {% if request.endpoint == 'cost' %}btn-active{% else %}btn-inactive{% endif %}">Compare
                                                      Costs</button>
                                          </form>

                                          <a href="#" class="btn btn-info mb-3" data-bs-toggle="modal"
                                                data-bs-target="#schemaModal" onclick="loadSchema()">Show Database
                                                Schema</a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            {% if error %}
            <div class="alert alert-danger" role="alert">
                  {{ error }}
            </div>
            {% endif %}
            {% if dot_src %}
            <div class="row">
                  <div class="col">
                        <div class="card">
                              <div class="card-body" id="graph-container">
                                    <script>
                                          const dot = {{ dot_src | tojson }};
                                          const graphContainer = d3.select('#graph-container')
                                                .append('div')
                                                .attr('id', 'graph')
                                                .style('margin', '0 auto') // Dynamic centering
                                                .graphviz({ useWorker: false })
                                                .zoom(true) // Enable zoom
                                                .fit(true) // Fit the graph to the container
                                                .renderDot(dot)
                                                .on('end', function () {

                                                });
                                    </script>
                              </div>
                        </div>
                  </div>
            </div>
            {% endif %}
            {% if ra_tree_svg and current_tree_svg %}
            <div class="row mt-4">
                  <div class="col">
                        <div class="alert alert-info text-center">
                              <h5>Cost Comparison</h5>
                              <p>
                                    <strong>Original Cumulative Cost:</strong> {{ "{:.2e}".format(ra_tree_cost) }} <br>
                                    <strong>Current Cost (after any optimizations):</strong> {{
                                    "{:.2e}".format(current_tree_cost)
                                    }} <br>
                              </p>
                              <p class="{{ comparison_class }}">{{ comparison_message }}</p>
                        </div>
                  </div>
            </div>
            <div class="row mt-4">
                  <div class="col-md-6">
                        <div class="card">
                              <div class="card-body" id="ra-tree-container">
                                    <h5 class="text-center">Original RA Tree with Costs</h5>
                              </div>
                        </div>
                  </div>
                  <div class="col-md-6">
                        <div class="card">
                              <div class="card-body" id="current-tree-container">
                                    <h5 class="text-center">Current Tree with Costs</h5>
                              </div>
                        </div>
                  </div>
            </div>

            <script>
                  function renderGraph(containerId, dotData, defaultZoomLevel) {
                        const graphContainer = d3.select(containerId)
                              .append('div')
                              .attr('id', `${containerId}-graph`)
                              .style('margin', '0 auto') // Dynamic centering
                              .graphviz({ useWorker: false })
                              .zoom(true) // Enable zoom
                              .fit(true) // Fit the graph to the container
                              .renderDot(dotData)
                              .on('end', function () {
                                    const svg = d3.select(`${containerId} svg`);
                                    const g = svg.select('g');
                                    const zoom = d3.zoom()
                                          .scaleExtent([0.1, 2])
                                          .on('zoom', function (event) {
                                                g.attr('transform', event.transform);
                                          });

                                    svg.call(zoom);
                                    const containerWidth = svg.node().getBoundingClientRect().width;
                                    const containerHeight = svg.node().getBoundingClientRect().height;
                                    const transform = d3.zoomIdentity
                                          .translate(containerWidth * 0, containerHeight / 2.5)
                                          .scale(0.5);

                                    svg.call(zoom.transform, transform);
                              });
                  }

                  const ra_tree_dot = {{ ra_tree_svg | tojson }};
                  const current_tree_dot = {{ current_tree_svg | tojson }};
                  renderGraph('#ra-tree-container', ra_tree_dot, 0.4);
                  renderGraph('#current-tree-container', current_tree_dot, 0.4); 
            </script>
            {% endif %}
      </div>

      <div class="modal fade" id="schemaModal" tabindex="-1" aria-labelledby="schemaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                  <div class="modal-content">
                        <div class="modal-header">
                              <h5 class="modal-title" id="schemaModalLabel">
                              </h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                              <div id="schema-graph" style="width: 100%; height: 700px; overflow: hidden;"></div>
                        </div>
                  </div>
            </div>
      </div>
      <footer class="footer mt-4 py-3 bg-light">
            <div class="container text-center">
                  <span class="text-muted">&copy; 2025 OptiQuery</span>
            </div>
      </footer>
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>